* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 980px;
	min-height: 100vh;
	margin: 0 auto;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	overflow: hidden;
	padding: 50px;
}

.header, .footer {
	padding: 20px;
	background: violet;
	border:  1px solid #000;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
}

/*********************************************************************************************************/

.left-sidebar {
    text-align: center;
    float: left;
    display: block;
    background: yellow;
    border:  1px solid #000;
    font-family: Arial, sans-serif;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
}

.right-sidebar {
    text-align: center;
    float: right;
    display: block;
    background: blue;
    border:  1px solid #000;
    font-family: Arial, sans-serif;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
}

.content{
    overflow: hidden;
    margin: 40px auto;
    display: block;
    background: red;
    border:  1px solid #000;
    font-family: Arial, sans-serif;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
}

